@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,700);

.tagline ul {
	list-style-type: none;
	text-align: center;
	font-style: normal;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.25em; /* 20px/16=1.0em */
	font-weight: normal;
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
.tagline ul li {
	display: inline;
	width: 500px;
	margin-right: 25px;
	margin: 0 auto;
}
.tagline ul li a {
	text-decoration: none;
	color: rgb(79,110,79);
}
.tagline ul li a:hover {
	color: rgb(70,70,70);
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.0em; /* 16px/16=1.0em */
	font-weight: normal;
}

img.align-center {
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 10px #777777;
}

header {
	text-align: center;
	color: rgb(79,110,79);
	font-style: normal;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4.0em; /* 64px/16=4.0em */
	font-weight: 600;
	letter-spacing: 0.2em;
	margin-top: 0 auto;
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

#intro {
	text-align: center;
	width: 500px;
	margin: 0 auto;
	color: rgb(50,50,50);
	font-style: normal;
	font-family: 'Josefin sans', sans-serif;
	font-size: 1.25em; /* 20px/16=1.5em */
	font-weight: normal;
	line-height: 1.5em;
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

nav ul {
	list-style-type: none;
	text-align: center;
	font-style: normal;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.25em; /* 20px/16=1.0em */
	font-weight: normal;
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
nav ul li {
	display: inline;
	margin-right: 25px;
	width: 500px;
}
nav ul li a {
	text-decoration: none;
	color: rgb(70,70,70);
}
nav ul li a:hover {
	color: rgb(68,94,68);
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.0em; /* 16px/16=1.0em */
	font-weight: normal;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
	column-count: 2;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px
	float: right;
	width: 62%;
}

footer {
	text-align: center;
	color: rgb(70,70,70);
	font-style: normal;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 0.8em; /* 12px/16=0.75em */
	font-weight: normal;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}