@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,700);

body {
	text-align: center;
}

header {
	color: rgb(79,110,79);
	font-style: normal;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4.0em; /* 64px/16=4.0em */
	font-weight: 600;
	letter-spacing: 0.2em;
	margin: 0 auto 10px auto;
	background-color: #FFFFFF;
	border-color: #323232;
	border-style: solid none solid none;
	border-width: 1px 0 3px 0;
	padding: 15px 0 10px 0;
}

.tagline ul {
	list-style-type: none;
	font-style: normal;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.25em; /* 20px/16=1.0em */
	font-weight: normal;
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 1.25%;
}
.tagline ul li {
	display: inline;
	width: 50%;
	margin-right: 1.25%;
}
.tagline ul li a {
	text-decoration: none;
	color: rgb(79,110,79);
}
.tagline ul li a:hover {
	color: rgb(70,70,70);
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.0em; /* 16px/16=1.0em */
	font-weight: normal;
}

img.align-center {
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 10px #777777;
}

#intro {
	width: 50%;
	margin: 0 auto;
	color: rgb(79,110,79);
	font-style: normal;
	font-family: 'Josefin sans', sans-serif;
	font-size: 1.25em; /* 20px/16=1.5em */
	font-weight: normal;
	line-height: 1.5em;
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 20px;
}

nav ul {
	list-style-type: none;
	font-style: normal;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.25em; /* 20px/16=1.0em */
	font-weight: normal;
	margin: 10px auto;
	background-color: #FFFFFF;
	border: 1px black solid;
	padding: 1.25%;
}
nav ul li {
	display: inline;
	width: 50%;
	padding: 1.25%;
}
nav ul li a {
	text-decoration: none;
	color: rgb(79,110,79);
}
nav ul li a:hover {
	color: rgb(50,50,50);
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.0em; /* 16px/16=1.0em */
	font-weight: normal;
}

footer {
	color: rgb(79,110,79);
	font-style: normal;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 0.8em; /* 12px/16=0.75em */
	font-weight: normal;
	line-height: 0.16em;
	background-color: #FFFFFF;
	border: 1px black solid;
	width: 50%;
	padding: 1.25%;
	margin: 0 auto;
}
