#h1 {
	text-align: center;
	color: rgb(40,40,40);
	font-style: normal;
	font-family: Helvetica, sans-serif;
	font-size: 2.5em; /* 40px/16=2.5em */
	font-weight: bold;
	letter-spacing: 0.1em;

}

p#p01 {
	text-align: center;
	color: rgb(40,40,40);
	font-style: italic;
	font-family: Helvetica, sans-serif;
	font-size: 1.0em; /* 8px/16=0.5em */
	font-weight: normal;
}

#img {
float: center;
margin: 5px;
}

p#p02 {
	text-align: center;
	color: rgb(40,40,40);
	font-style: normal;
	font-family: Helvetica, sans-serif;
	font-size: 1.5em; /* 24px/16=1.5em */
	font-weight: normal;
}

#ul {
	text-align: center;
	color: rgb(40,40,40);
	font-style: normal;
	font-family: Helvetica, sans-serif;
	font-size: 1.5em; /* 24px/16=1.5em */
	font-weight: normal;
}

#body {
	background-color: rgb(255,255,255);
}